<br><br>
<div class="signup-outter">

<p><h2>Sign up:</h2></p>
<div class="signup-inner">

<form name="formsignup" id="formsignup" class="formusers" ng-submit="vm.sendSignup()">
    <br>
      <p>
         <label class="inputLabel" for="name">Name:</label>
         <input type="text" class="textBox" name="name" id="name" ng-model="vm.signupName" required placeholder="Name"/>
         <span id="error_name" class="styerror"></span>
      </p>
      <p>
        <label class="inputLabel" for="email">e-mail:</label>
        <input type="email" class="textBox" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-model="vm.signupEmail" placeholder="email" required/>
        <span id="error_email" class="styerror">{{vm.errorMail}}</span>
      </p>
      <p>
        <label class="inputLabel" for="password">Password:</label>
  		  <input type="password" class="textBox" name="password" id="password" ng-model="vm.signupPass" placeholder="Password" required/>
        <span id="error_password" class="styerror">{{vm.message}}</span>
      </p>
      <p>
        <label class="inputLabel" for="password2">Repeat password:</label>
        <input type="password" class="textBox" name="password2" id="password2" ng-model="vm.signupPass2" placeholder="Repeat password" required/>
        <span id="error_password2" class="styerror">{{vm.message}}</span>
      </p>
    <input type="submit" class="btn btn-primary" ng-disabled="formsignup.$invalid" name="submit_user" id="submit_user" value="Submit">
</form>
</div>
</div>
