<nav id="topNav" class="navbar navbar-default navbar-fixed-top" ng-controller="MenuController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a id="logo" class="navbar-brand page-scroll" href="#/">r</a> -->
            <a href="/"><img src="./images/logo.svg" alt="" style="width: 60px;"></a>

        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
                  <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li id="LogProf" ng-hide="$root.authUser">
                <!-- <a href="#" class="button special" data-toggle="modal" id="Login" data-target="#LoginModal">Login</a> -->
                <a href="#" class="button special" ng-click="vm.modalLogin()">Login</a>
              </li>
              <!-- User auth info -->
        <li id="userAuthInfo" ng-show="$root.authUser">
            <!-- <a>Welcome <img src="{{vm.authUser.user.photoURL}}" /> {{ vm.authData.name}}</a> -->
            <a href="/admin">Welcome  {{ $root.authUser.name}}</a>
        </li>

        <!-- Logout button -->
        <li id="logoutButton" ng-click="vm.logout()" ng-show="$root.authUser">
            <a href="#"><span class="fa fa-sign-out"></span>Logout</a>
        </li>

                <li class="socialLogin" ng-hide="$root.authUser">
                  <a target="_self" href="api/facebook">
                    <!--<a href="/loginfb">--><img src="images/facebook.svg" alt="Access with Facebook"></a>
                </li>
                <li class="socialLogin" ng-hide="$root.authUser">
                  <a href="/"><img src="images/twitter.svg" alt="Access with twitter"></a>
                </li>
                <li class="socialLogin" ng-hide="$root.authUser">
                  <a href="/"><img src="images/google.svg" alt="Access with Google"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
