<nav id="topNav" class="navbar navbar-default navbar-fixed-top" ng-controller="MenuController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a id="logo" class="navbar-brand page-scroll" href="#/">r</a> -->
            <a href="/"><img class="imagemenu" src="images/logo.svg" alt="" style="width: 60px;"></a>

        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
                  <!-- <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a> -->
                  <a ui-sref="{{r.name}}" translate="{{r.title}}"></a>
                </li>
            </ul>
            <div class="dropdown nav navbar-nav pull-left">
                <button id="dLabel" type="button" data-toggle="dropdown" translate="LANGUAGE">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li> <a ng-click="vm.setLang('en')" translate="english"></a></li>
                  <li> <a ng-click="vm.setLang('es')" translate="spanish"></a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li id="LogProf" ng-hide="$root.authUser">
                <!-- <a href="#" class="button special" data-toggle="modal" id="Login" data-target="#LoginModal">Login</a> -->
                <a href="/loginpage" class="button special" >{{'SIGN IN' | translate}}</a>
              </li>
              <!-- User auth info -->
        <li id="userAuthInfo" ng-show="$root.authUser">
            <!-- <a>Welcome <img src="{{vm.authUser.user.photoURL}}" /> {{ vm.authData.name}}</a> -->
            <a href="/admin"><img class="avatar" ng-src="{{$root.authUser.avatar}}"/>{{'WELLCOME' | translate}}  {{ $root.authUser.name}}</a>
            <!-- <a href="/admin">Welcome  {{ $root.authUser.name}}</a> -->
        </li>

        <!-- Logout button -->
        <li id="logoutButton" ng-click="vm.logout()" ng-show="$root.authUser">
            <a href="#"><span class="fa fa-sign-out"></span>{{'LOGOUT' | translate}}</a>
        </li>

                <li class="socialLogin" ng-hide="$root.authUser">
                  <a target="_self" href="api/facebook">
                    <!--<a href="/loginfb">--><img src="images/facebook.svg" alt="Access with Facebook"></a>
                </li>
                <li class="socialLogin" ng-hide="$root.authUser">
                  <a target="_self" href="api/twitter"><img src="images/twitter.svg" alt="Access with twitter"></a>
                </li>
                <li class="socialLogin" ng-hide="$root.authUser">
                  <a target="_self" href="api/google"><img src="images/google.svg" alt="Access with Google"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
