<div>

<form id="loginForm" name="loginForm" class="modal_login" ng-submit="vm.loginSend()">
          <h3>LOG IN </h3>
  <hr>
  <p>
    <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-model="vm.inputEmail" class="loginemail" id="inputUser" name="email" placeholder=" EMAIL ADDRESS" required><br/>
    <span>{{vm.error}}</span>
  </p>
  <p>
    <input type="password" ng-model="vm.inputPassword" name="loginpassword" id="inputPass" placeholder=" PASSWROD" required>
  </p>

  <hr>

  <p class="modal_baix">
    <input type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" name="loginbutton" id="submitLog" value="SEND">
    <a class="log_link" href="#" ng-click="vm.goToSignup()">Register</a>
    <!-- <a class="log_link" href="#">Forgot your password?</a> -->
  </p>
</form>

</div>
