$border-color: #ff9800; //color principal para bordes
$background-color: #282828; //Fondo principal
$background-content: #757575; //Fondo contenidos
$font-primary: #ffffff; //color principal titulos y texto
$font-secondary: #212121;
$input-color: #333; // color para texto en inputs
$input-background: #ffffff;//background-color para inputs
$link-color: #ff9800; //color para enlaces
$font-size-primary: 14px; //Tamaño principal de texto(no titulos)
$cursive-family: 'bttf'; //fuente titulo Main
$font-button-color: #da521b; // color para el texto de los botones
