<div class="container-form-contact">
    <form id="contact_form" name="contact_form" class="form-contact" ng-submit="vm.SubmitContact()">
        <h2 class="form-contact-heading">Contact Us</h2>

        <div class="control-group">
            <input required ng-model="vm.inputName" type="text" id="inputName" name="inputName" placeholder="Name *" class="input-block-level" dir="auto" maxlength="100">
            <span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">This field is required</span>
        </div>
        <div class="control-group">
            <input required ng-model="vm.inputEmail" type="text" id="inputEmail" name="inputEmail" placeholder="Email *" class="input-block-level" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
            <span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">This field is required</span>
            <span class="text-danger" ng-show="contact_form.inputEmail.$error.email">Invalid Email</span>
        </div>
        <div class="control-group">
            <label for="sel1">Subject</label>
            <select ng-model="vm.inputSubject" class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
                <option value="order">Something relative with an order</option>
                <option value="programming_dept">Contact with our programming department</option>
                <option value="work">Work with us</option>
                <option value="projects">Propose new projects</option>
                <option value="suggestions">Suggestions</option>
                <option value="claim">Want to claim something</option>
                <option value="suscribe">Suscribe to our mail-list</option>
                <option value="diferent">Something different</option>
            </select>
        </div>
        <div class="control-group">
              <textarea required ng-model="vm.inputMessage" class="input-block-level" rows="4" name="inputMessage" placeholder="Message *" style="max-width: 100%;" dir="auto"></textarea>
              <span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">This field is required</span>
        </div>

        <!-- <input type="hidden" name="token" value="contact_form" /> -->

        <!-- <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" disabled="disabled" value="send" /> -->

        <input type="submit" class="btn btn-primary" name="submit" id="submitBtn" value="Send" ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputMessage.$valid"/>

        <div id="resultMessageOk" class="msg_ok">{{vm.resultMessageOk}}</div>
        <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
    </form>

</div> <!-- /container -->
