
<section id="main" class="wrapper">
  <div class="techniciansFilter no-print">
    <h3>{{ 'SEARCH_TECHNICIANS' | translate }}</h3> <input type="text" class="filtre" ng-model="vm.filtro" >
  </div>
  <div class="techniciansContent container">
      <div class="techniciansMap">
        <!-- [{{vm.lat}},{{vm.lng}}] -->
        <ng-map  default-style="true" center="current-position" geo-fallback-center="[40.74, -74.18]" zoom="12">
                 <!-- <marker position="current" animation="Animation.BOUNCE" centered="true"></marker> -->
                <marker ng-repeat="marker in vm.markers" id="{{marker.id}}" position="{{marker.latitude}},{{marker.longitude}}" icon="{
                        url:'images/man_icon.svg'}" on-click="vm.showDetailMarker(marker)"></marker>

                <info-window id="foo-iw" position="{{vm.marker.latitude}},{{vm.marker.longitude}}">
                  <div class="techBoxInfo">
                    <div class="desc">{{vm.marker.name}} {{vm.marker.surname}}</div>
                    <div class="points">{{ 'RATING' | translate }} <p class="stars-container stars-{{vm.marker.points/vm.marker.val_qty}}"  > ★★★★★ </p></div>
                    <div class="hora">{{ 'SCHEDULE' | translate }} {{vm.marker.time_start}} - {{vm.marker.time_end}}</div>
                    <div class="details">
                    <a href="#" ng-click="$parent.vm.modalDetails(vm.marker.id)">+info</a>
                      <a href="#">{{ 'CONTACT' | translate }}</a>
                    </div>
                  </div>
              </info-window>
              </ng-map>
      </div>

      <div class="techniciansInfo">
        <div class="techBoxInfo" ng-repeat="tech in vm.filteredTechnicians| filter:{name:vm.filtro}" id="{{tech.id}}">
            <div>
                <div class="desc">{{tech.name}} {{tech.surname1}}</div>
                <div class="points">{{ 'RATING' | translate }} <p class="stars-container stars-{{tech.points/tech.val_qty}}"  > ★★★★★ </p></div>
                <div class="hora">{{ 'SCHEDULE' | translate }} {{tech.time_start}} - {{tech.time_end}}</div>
                <div class="details" >
                  <a href="#" ng-click="vm.modalDetails(tech.id)">+info</a>
                  <a href="#">{{ 'CONTACT' | translate }}</a>
                </div>
            </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div id="pagerTechnicians">
        <uib-pagination class="pagination-sm" boundary-link-numbers="true" total-items="vm.technicians.length" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>

</section>
