
<section id="main" class="wrapper">
  <div class="techniciansFilter no-print">
    <h3>{{ 'SEARCH_TECHNICIANS' | translate }}</h3> <input type="text" class="filtre" ng-model="vm.filtro" >
  </div>
  <div class="techniciansContent container">
      <div class="techniciansMap">
          <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>

            <ui-gmap-markers models="vm.markers" coords="'self'" icon="'icon'" events="vm.map.markersEvents"></ui-gmap-markers>
            <ui-gmap-window show="vm.map.windows.show" coords= "vm.map.windows.model">
              <div class="techBoxInfo">
                <div class="desc">{{vm.infoWindow.name}} {{vm.infoWindow.surname}}</div>
                <div class="points">{{ 'RATING' | translate }} <p class="stars-container stars-{{vm.infoWindow.points/vm.infoWindow.val_qty}}"  > ★★★★★ </p></div>
                <div class="hora">{{ 'SCHEDULE' | translate }} {{vm.infoWindow.time_start}} - {{vm.infoWindow.time_end}}</div>
                <div class="details">
                <a href="#" ng-click="$parent.vm.modalDetails(vm.infoWindow.id)">+info</a>
                  <a href="#">{{ 'CONTACT' | translate }}</a>
                </div>
              </div>
            </ui-gmap-window>


          </ui-gmap-google-map>
      </div>

      <div class="techniciansInfo">
        <div class="techBoxInfo" ng-repeat="tech in vm.filteredTechnicians| filter:{name:vm.filtro}" id="{{tech.id}}">
            <div>
                <div class="desc">{{tech.name}} {{tech.surname1}}</div>
                <div class="points">{{ 'RATING' | translate }} <p class="stars-container stars-{{tech.points/tech.val_qty}}"  > ★★★★★ </p></div>
                <div class="hora">{{ 'SCHEDULE' | translate }} {{tech.time_start}} - {{tech.time_end}}</div>
                <div class="details" >
                  <a href="#" ng-click="vm.modalDetails(tech.id)">+info</a>
                  <a href="#">{{ 'CONTACT' | translate }}</a>
                </div>
            </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div id="pagerTechnicians">
        <uib-pagination class="pagination-sm" boundary-link-numbers="true" total-items="vm.technicians.length" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>

</section>
